<h1 id="subs">Subs</h1>
<% @post.subs.sort.each do |sub| %>
  <p><%= sub.title %></p>
<% end %>


<h2>Post: <%= @post.title %></h2>

<li>Author: <%= @post.author.username %></li>

<li><%= @post.url %></li>
<li><%= @post.content %></li>

<% if @post.author == current_user %>
<%= link_to "Edit Post", edit_post_url(@post) %>
<% end %>